#!/bin/bash
set -euo pipefail

LOG=/tmp/resume_debug.log

if [[ $# -lt 1 ]]; then
    echo "Resume called with no arguments" >> "$LOG"
    exit 0
fi

HOSTLIST="$1"

echo "ARGS: $HOSTLIST" >> "$LOG"

NODES=$(scontrol show hostnames "$HOSTLIST")        # Expand Slurm hostlist into individual hostnames

echo "Expanded nodes:" >> "$LOG"
echo "$NODES" >> "$LOG"

for NODE in $NODES; do
    SHORT=${NODE%%.*}           # Get short hostname (e.g., scc-cpu10-10g from scc-cpu10-10g.cluster.hcemm.eu); kinda deprecated, but good to keep

    # Safe lookup of BMC address
    BMC_ADDR=$(awk -v n="$SHORT" '$1==n {print $2}' \
        /usr/local/etc/node2bmc.tsv || true)

    echo "NODE=$NODE SHORT=$SHORT BMC=$BMC_ADDR" >> "$LOG"

    if [[ -z "$BMC_ADDR" ]]; then
        echo "No BMC entry for $NODE" >> "$LOG"
        continue
    fi

    echo "Powering on $NODE via $BMC_ADDR" >> "$LOG"

    /usr/bin/ipmitool -I lanplus \
        -H "$BMC_ADDR" \
        -U {{ bmc_username }} \
        -P {{ bmc_password }} \
        power on >> "$LOG" 2>&1 || true

    echo "Power on command issued for $NODE" >> "$LOG"

    # Remove the downtime in Checkmk for this host, if it exists, since we're powering it on now
    BIG_G=$(echo "$NODE" | sed 's/\([0-9]\)g/\1G/')      # -10g to -10G for Checkmk compatibility
    if ! curl -s -X POST   "https://{{ checkmk_site }}/monitoring/check_mk/api/1.0/domain-types/downtime/actions/delete/invoke" \
    -H "Authorization: Bearer {{ checkmk_username }} {{ checkmk_password }}" \
    -H "Accept: application/json" \
    -H "Content-Type: application/json" \
    -d '{
    "delete_type": "params",
    "host_name": "'"${BIG_G}"'"
    }'

    echo "Downtime removed for $BIG_G" >> "$LOG" 2>&1; then
        echo "Failed to remove downtime" >>"$LOG"
    fi

done

echo "Resume script completed" >> "$LOG"
exit 0