[defaults]
vault_password_file = .vault_pass.txt
stdout_callback = yaml
bin_ansible_callbacks = True
inventory = inventory/hosts
roles_path = .ansible/roles
collection_paths = .ansible/collections

[ssh_connection]
pipelining = true
