frontend rdp_front
    bind 10.0.150.101:3389
    mode tcp
    default_backend rdp_nodes

backend rdp_nodes
    mode tcp
    balance roundrobin
{% for host in groups['login_nodes'] %}
    server {{ host }} {{ hostvars[host]['ansible_host'] | default(host) }}:3389 check
{% endfor %}