#version=RHEL9
text
cdrom
lang en_GB.UTF-8
keyboard --xlayouts='hu'
timezone Europe/Budapest --utc

network --bootproto=static --ip={{ vm_ip }} --netmask={{ internal_netmask }} --gateway={{ internal_network }} --nameserver={{ internal_network }} --device=enp1s0 --onboot=on --hostname={{ vm_name }}

rootpw --iscrypted --allow-ssh {{ root_password }}

firewall --enabled --service=ssh
authselect --use-shadow --enable-feature=with-smartcard --enable-feature=with-faillock
selinux --enforcing
services --enabled=sshd

clearpart --all --initlabel
autopart

%packages
@core
%end

# prevent the initial setup screen from appearing on the first boot
firstboot --disable

%post
#---- Install root SSH key ----
mkdir -m0700 /root/.ssh/
cat <<EOF >/root/.ssh/authorized_keys
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIKsrPvhdrXjTArtYvwftiZyqOZOOb6mCyAD335a8yaG4 root@{{ master_hostname }}
EOF
### set permissions
chmod 0600 /root/.ssh/authorized_keys
### fix up selinux context
restorecon -R /root/.ssh/
%end

reboot
