EnergyIPMIFrequency=300
EnergyIPMIPowerSensors=Node=16,19,23,26;Socket0=16,23;Socket1=19,26;SSUP=23,26;KNC=16,19
EnergyIPMIUsername={{ bmc_username }}
EnergyIPMIPassword={{ bmc_password }}
ProfileHDF5Dir=/scratch/profile_data
ProfileHDF5Default=All
