AuthInfo=socket=/var/run/munge/munge.socket.2
AuthType=auth/munge
CommitDelay=0
DbdBackupHost=slurmdbd2
DbdHost=slurmdbd1
DebugFlags=AuditRPCs,DB_ARCHIVE,DB_ASSOC,DB_EVENT,DB_JOB,DB_QOS,DB_QUERY,DB_RESERVATION,DB_RESOURCE,DB_STEP,DB_TRES,DB_USAGE,DB_WCKEY,FEDERATION,Network,NetworkRaw,TLS
DebugLevel=debug
DebugLevelSyslog=debug
LogFile=/var/log/slurm/slurmdbd.log
PurgeEventAfter=365days
PurgeJobAfter=365days
PurgeResvAfter=365days
PurgeStepAfter=365days
PurgeSuspendAfter=365days
PurgeTXNAfter=365days
PurgeUsageAfter=365days
SlurmUser={{ slurm_user }}
StorageBackupHost=slurmdbd2
StorageHost=slurmdbd1
StorageLoc=slurm_acct_db
StoragePass=password
StorageType=accounting_storage/mysql
StorageUser={{ slurm_user }}
TrackSlurmctldDown=yes
TrackWCKey=no
