#AccountingStorageBackupHost=
AccountingStorageEnforce=associations
AccountingStorageHost={{ setup_slurm_slurmdbd }}
AccountingStoragePass=/var/run/munge/munge.socket.2
AccountingStoragePort=6819
AccountingStorageTRES=gres/gpu,gres/shard
AccountingStorageType=accounting_storage/slurmdbd
AccountingStorageUser={{ setup_slurm_accounting_storage_user }}
AccountingStoreFlags=job_comment,job_env,job_extra,job_script
#AcctGatherNodeFreq=300
#AcctGatherEnergyType=acct_gather_energy/ipmi
#AcctGatherProfileType=acct_gather_profile/hdf5
AllowSpecResourcesUsage=NO
AuthType=auth/munge
#BurstBufferType=burst_buffer/none
ClusterName={{ setup_slurm_cluster_name }}
DefMemPerCPU=5120
EnforcePartLimits=ALL
Epilog=/etc/slurm/epilog.sh
FairShareDampeningFactor=5
GresTypes=gpu,shard
GpuFreqDef=high
HealthCheckInterval=300
HealthCheckNodeState=ANY
HealthCheckProgram=/usr/sbin/nhc
JobAcctGatherType=jobacct_gather/cgroup
JobAcctGatherFrequency=task=30,energy=30,network=30,filesystem=30
JobCompPass={{ setup_slurm_storage_pass }}
JobCompPort=3306
JobCompType=jobcomp/filetxt
JobCompUser=job_database_mgr
#JobContainerType=job_container/tmpfs
#JobSubmitPlugins=require_timelimit,defaults,logging
KillOnBadExit=1
LaunchParameters=use_interactive_step
#MaxNodeCount=16
MpiDefault=none
PriorityDecayHalfLife=7-0
PriorityType=priority/multifactor
PriorityWeightAge=1
PriorityWeightFairshare=1
ProctrackType=proctrack/cgroup
PrologFlags=Contain
SchedulerParameters=bf_busy_nodes,bf_continue,bf_hetjob_immediate,bf_hetjob_prio=min,
SchedulerType=sched/backfill
ScronParameters=enable,explicit_scancel
SelectType=select/cons_tres
SelectTypeParameters=CR_Core_Memory,LL_SHARED_GRES
SlurmctldDebug=debug
SlurmctldHost={{ setup_slurm_slurmctld }}
SlurmctldHost={{ setup_slurm_slurmctld_backup }}
SlurmctldLogFile=/var/log/slurm/slurmctld.log
SlurmctldParameters=enable_configless
SlurmctldSyslogDebug=debug
SlurmdDebug=debug
SlurmdLogFile=/var/log/slurm/slurmd.log
SlurmdParameters=shutdown_on_reboot,numa_node_as_socket
SlurmdSyslogDebug=debug
SlurmSchedLogFile=/var/log/slurm/slurmsched.log
SlurmSchedLogLevel=1
SlurmUser={{ setup_slurm_slurm_user }}
StateSaveLocation=/var/spool/slurm
TaskPlugin=task/cgroup,task/affinity
#TopologyParam=RouteTree
#TopologyPlugin=topology/tree
TrackWCKey=no
TreeWidth=32
NodeName=scc-cpu[02-11]-10g CPUs=96 Sockets=2 CoresPerSocket=24 ThreadsPerCore=2 RealMemory=230400 CpuBind=core
NodeName=scc-mem[01-2]-10g CPUs=96 Sockets=2 CoresPerSocket=24 ThreadsPerCore=2 RealMemory=1843200 Features=highmem CpuBind=core
NodeName=scc-gpu[01-02]-10g CPUs=96 Sockets=2 CoresPerSocket=24 ThreadsPerCore=2 RealMemory=230400 Features=nvidia CpuBind=core
NodeSet=rack6 Nodes=mem02,gpu02,cpu02,cpu04,cpu06,cpu08,cpu10
NodeSet=rack7 Nodes=mem01,gpu01,cpu01,cpu03,cpu05,cpu07,cpu09,cpu11
PartitionName=cpu Nodes=scc-cpu[02-11]-10g MaxTime=30-00:00:00 CpuBind=core DefMemPerCPU=5333 Default=YES
PartitionName=highmem Nodes=scc-mem[01-02]-10g MaxTime=10-00:00:00 CpuBind=core DefMemPerCPU=42777
PartitionName=gpu Nodes=scc-gpu[01-02]-10g MaxTime=10-00:00:00 CpuBind=core DefMemPerCPU=5333
NodeName=login1 CPUs=4 RealMemory=8196 State=UNKNOWN
NodeName=login2 CPUs=4 RealMemory=8196 State=UNKNOWN
