[Slice]
CPUQuota={{ login_nodes_per_user_limits.cpu_quota }}
TasksMax={{ login_nodes_per_user_limits.tasks_max }}
MemoryHigh={{ login_nodes_per_user_limits.memory_high }}
MemoryMax={{ login_nodes_per_user_limits.memory_max }}
MemorySwapMax={{ login_nodes_per_user_limits.memory_swap_max }}