AccountingStorageEnforce=associations
AccountingStorageHost={{ sms_name }}
AccountingStoragePass=/var/run/munge/global.socket.2
AccountingStoragePort=6819
AccountingStorageTRES=gres/gpu,gres/shard
AccountingStorageType=accounting_storage/slurmdbd
AccountingStorageUser={{ accounting_storage_user }}
AccountingStoreFlags=job_comment,job_env,job_extra,job_script
AcctGatherNodeFreq=300
AcctGatherEnergyType=acct_gather_energy/ipmi
AcctGatherProfileType=acct_gather_profile/hdf5
AllowSpecResourcesUsage=NO
AuthType=auth/munge
BurstBufferType=burst_buffer/none
ClusterName={{ cluster_name }}
DefMemPerCPU=5120M
EnforcePartLimits=ALL
Epilog=/etc/slurm/slurm.epilog.clean
FairShareDampeningFactor=5
GresTypes=gpu,shard
GpuFreqDef=high
HealthCheckInterval=300
HealthCheckNodeState=ANY
HealthCheckProgram=/usr/sbin/nhc
InactiveLimit=proctrack/cgroup
JobAcctGatherType=jobacct_gather/cgroup
JobAcctGatherFrequency=task=30,energy=30,network=30,filesystem=30
JobCompHost={{ sms_name }}
JobCompLoc=slurm_jobcomp_db
JobCompPass=password
JobCompPort=3306
JobCompType=jobcomp/mysql
JobCompUser=job_database_mgr
JobContainerType=job_container/tmpfs
JobSubmitPlugins=require_timelimit,defaults,logging
KillOnBadExit=1
LaunchParameters=disable_send_gids
MaxNodeCount=11
MpiDefault=none
PriorityDecayHalfLife=7-0
PriorityType=priority/multifactor
PriorityWeightAge=1
PriorityWeightFairshare=1
PrivateData=accounts,events,jobs,reservations,usage,users
ProctrackType=proctrack/cgroup
PrologFlags=Contain
SchedulerParameters=bf_busy_nodes,bf_continue,bf_hetjob_immediate,bf_hetjob_prio=min,
SchedulerType=sched/backfill
ScronParameters=enable,explicit_scancel
SelectType=select/cons_tres
SelectTypeParameters=CR_Core_Memory,LL_SHARED_GRES
SlurmctldDebug=debug
SlurmctldHost={{ sms_name }}
SlurmctldLogFile=/var/log/slurm/slurmctld.log
SlurmctldParameters=enable_configless
SlurmctldSyslogDebug=debug
SlurmdDebug=debug
SlurmdLogFile=/var/log/slurm/slurmd.log
SlurmdParameters=shutdown_on_reboot,numa_node_as_socket
SlurmdSyslogDebug=debug
SlurmSchedLogFile=/var/log/slurm/slurmsched.log
SlurmSchedLogLevel=1
SlurmUser={{ slurm_user }}
TaskPlugin=task/cgroup,task/affinity
TopologyParam=RouteTree
TopologyPlugin=topology/block
TrackWCKey=no
TreeWidth=32
PartitionName=cpu Nodes=scc-cpu[01-11]-10G MaxTime=30-00:00:00 AllowAccounts=CPU CpuBind=core DefMemPerCPU=5333 Default=YES
PartitionName=highmem Nodes=scc-mem02-10G MaxTime=10-00:00:00 AllowAccounts=MEM CpuBind=core DefMemPerCPU=42777
PartitionName=gpu Nodes=scc-gpu[01-02]-10G MaxTime=10-00:00:00 AllowAccounts=GPU AllowGroups=LAMSA CpuBind=core DefMemPerCPU=5333
NodeName=scc-cpu[01-11]-10G CPUs=48 Sockets=2 CoresPerSocket=24 ThreadsPerCore=2 RealMemory=256000 CpuBind=core
NodeName=scc-mem02-10G CPUs=48 Sockets=4 CoresPerSocket=24 ThreadsPerCore=2 RealMemory=2048000 Features=highmem CpuBind=core
NodeName=scc-gpu[01-02]-10G CPUs=48 Sockets=2 CoresPerSocket=24 ThreadsPerCore=2 RealMemory=256000 Features=nvidia Gres=gpu:nvidia:2,gpu:2,shard:22344 CpuBind=core
NodeSet=rack6 Nodes=scc-mem02-10G,scc-gpu02-10G,scc-cpu[02,04,06,08,10]-10G
NodeSet=rack7 Nodes=scc-gpu01-10G,scc-cpu[01,03,05,07,09,11]-10G
