frontend ssh_front
    bind *:22
    mode tcp
    default_backend ssh_back

backend ssh_back
    mode tcp
    balance leastconn
    option tcp-check

    server login1 10.0.150.204:22 check
    server login2 10.0.150.205:22 check