OPENAI_API_BASE_URL={{ doctorllm_openai_api_base_url }}
OPENAI_API_KEY={{ doctorllm_vllm_api_key }}
WEBUI_NAME={{ doctorllm_webui_name }}
ENABLE_SIGNUP=false

# FreeIPA LDAP authentication
ENABLE_LDAP=true

LDAP_SERVER_LABEL=FreeIPA
LDAP_SERVER_HOST={{ ldap_server_fqdn }}
LDAP_SERVER_PORT={{ ldap_tls_port }}

LDAP_USE_TLS=true
LDAP_VALIDATE_CERT=true
LDAP_CA_CERT_FILE=/etc/ssl/certs/freeipa-ca.crt

LDAP_APP_DN={{ doctorllm_ldap_app_dn }}
LDAP_APP_PASSWORD={{ doctorllm_ldap_app_password }}

LDAP_SEARCH_BASE={{ ldap_user_base_dn }}
LDAP_ATTRIBUTE_FOR_USERNAME={{ ldap_username_attribute }}
LDAP_ATTRIBUTE_FOR_MAIL={{ ldap_mail_attribute }}
