#!/bin/bash

LDAPADD="ldapadd -x -D {{ ldap_local_admin_dn1 }} -w {{ ldap_local_admin_password }}"
LDAPMOD="ldapmodify -x -D {{ ldap_local_admin_dn }} -w {{ ldap_local_admin_password }}"
LDAPSEARCH_AD="ldapsearch -x -H ldap://{{ ldap_ad_server }} -D '{{ ldap_ad_bind_dn }}' -w '{{ ldap_ad_bind_password }}' -b '{{ ldap_ad_base_dn }}'"

TMPDIR=$(mktemp -d)

$LDAPSEARCH_AD '(objectClass=person)' sAMAccountName uidNumber gidNumber cn sn \
  | grep -v '^#' > $TMPDIR/ad_users.ldif

# Convert AD schema → OpenLDAP schema (POSIX)
# add transformation rules here

# e.g., ldapadd / ldapmodify to update local LDAP
